body {
    background-color: white !important;
}
#wrapper {
    padding:0 .5rem;
    margin: 0 auto;
}
#offCanvasLeft ul {
    list-style-type: none;
}
.link {
    cursor: pointer;
    color: #3f729b;
}
#location-status {
    height:1.5rem;
    width:1.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loading-field-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
}
#initial-loading-spinner {
    padding-top: 10px;
}
.mapboxgl-ctrl-top-right.mapboxgl-ctrl{width:100% !important;margin:10px !important;}


.input-group-button {
    padding:8px 0 0 5px !important;
}
#map-edit, #map-wrapper-edit  {
    height: 300px !important;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:30px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.fi-plus:before {
    margin-top:22px;
}
